*{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#wrap{
	height: 120vh;
	padding: 0;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	align-items: stretch;
}
.mypaper{
	width: 100%;
}
/*Menu item*/
#mycv{
	float: left;
}
#ingredients, #formwrap{
	height: 100vh;
	background: url("../images/icetools/ice-portrait.png") no-repeat top left / 100% border-box;
	position: relative;
	padding: 0 10px;
	margin: -5px;
}

#ingredients .tabs .imgpackage{
	position: absolute;
	width: 458px;
	padding-top: 19px;
}

.icelist{
	background: url("../images/icebg/ice-portrait.png") no-repeat -12px 0;
	left: 80px;
}
@media (min-device-width: 60em){
	#wrap{
		width: 960px;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		justify-content: flex-end;
	}
	#mycv{
		flex: 1 100%;
		order: 1;
	}
	#ingredients, #formwrap{
		flex: 1 100%;
		order: 2;
		background: url("../images/icetools/ice-landscrap.png") no-repeat;
		position: relative;
		padding: 0 19px;
	}
	#ingredients .tabs .imgpackage{
		position: absolute;
		width: calc(94px * 3);
		top: 103px;
		margin: 0;
		padding: 0;
	}
	.icelist{
		background: url("../images/icebg/ice-landscrap.png") no-repeat -18px 0;
		height:calc(114px*4);
		left: 0;
	}
}
@media (max-device-width: 30em){
	#ingredients .tabs .imgpackage{
		position: absolute;
		width: 100vw;
		padding-top: 0;
		height: 30vh;
	}
	.icelist{
		background: url("../images/icebg/ice-portrait.png") no-repeat -12px 0;
		left: 50px;
		-webkit-background-size: 70%;
		background-size: 70%;
	}
}

/* items menu */
.hiddentext{
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
  overflow: hidden;
}
.desserts{
	background: url("../images/icetools/ice-item.png");
	background-position:-14px top;
	height:102px; 
	width:52px;
}
.foods{
	background: url("../images/icetools/ice-item.png");
	background-position:-74px top; 
	height:102px; 
	width:52px;
}
.fruits{
	background: url("../images/icetools/ice-item.png");
	background-position:-134px top; 
	height:102px; 
	width:52px;
}
.decoration{
	background: url("../images/icetools/ice-item.png");
	background-position:-194px top; 
	height:102px; 
	width:52px;
}
.symbol{
	background: url("../images/icetools/ice-item.png");
	background-position:-254px top; 
	height:102px; 
	width:52px;
}
.desserts:hover{
	background: url("../images/icetools/ice-item.png");
	background-position:-14px -102px;
	height:102px; 
	width:52px;
}
.foods:hover{
	background: url("../images/icetools/ice-item.png");
	background-position:-74px -102px; 
	height:102px; 
	width:52px;
}
.fruits:hover{
	background: url("../images/icetools/ice-item.png");
	background-position:-134px -102px; 
	height:102px; 
	width:52px;
}
.decoration:hover{
	background: url("../images/icetools/ice-item.png");
	background-position:-194px -102px; 
	height:102px; 
	width:52px;
}
.symbol:hover{
	background: url("../images/icetools/ice-item.png");
	background-position:-254px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .desserts{
	background: url("../images/icetools/ice-item.png");
	background-position:-14px -102px;
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .foods{
	background: url("../images/icetools/ice-item.png");
	background-position:-74px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .fruits{
	background: url("../images/icetools/ice-item.png");
	background-position:-134px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .decoration{
	background: url("../images/icetools/ice-item.png");
	background-position:-194px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .symbol{
	background: url("../images/icetools/ice-item.png");
	background-position:-254px -102px; 
	height:102px; 
	width:52px;
}
/* #ingredients .tabs,  */
#ingredients .tabs{
	position: absolute;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

#ingredients .tabs > h2{
	position: absolute;
	left: 520px;
	background-color: transparent;
	z-index: 2;
}

#ingredients .tabs:target{
	z-index: 2;
}
#ingredients .tabs:first-child{
	z-index: 1;
}
#ingredients .tabs:nth-child(2) h2{
	left: calc(280px/5*1);
}
#ingredients .tabs:nth-child(3) h2{
	left: calc(300px/5*2);
}
#ingredients .tabs:nth-child(4) h2{
	left: calc(300px/5*3);
}
#ingredients .tabs:nth-child(5) h2{
	left: calc(300px/5*4);
}

/*items List & BG*/
.desertlist{
	background: url("../images/ingredientsItem/itemList.png") no-repeat -18px 0, url("../images/icetools/menubg.png") repeat-y left;
	height:calc(114px*4); 
}
.foodslist{
	background: url("../images/ingredientsItem/itemList.png") no-repeat -18px -380px, url("../images/icetools/menubg.png") repeat-y left;
	height:calc(114px*4); 
}
.fruitslist{
	background: url("../images/ingredientsItem/itemList.png") no-repeat -18px 11px, url("../images/icetools/menubg.png") repeat-y left;
	height:calc(114px*4); 
}
.decorationlist{
	background: url("../images/ingredientsItem/itemList.png") no-repeat -18px -380px, url("../images/icetools/menubg.png") repeat-y left;
	height:calc(114px*4);
}
.symbollist{
	background: url("../images/ingredientsItem/itemList.png") no-repeat -18px -380px, url("../images/icetools/menubg.png") repeat-y left;
	height:calc(114px*4);
}
.rectangle{
	display: block;
	float: left;
	width: 114px;
	height: 94px;
	cursor: pointer;
}
@media (max-device-width: 30em){
	.rectangle{
		display: block;
		float: left;
		width: calc(114px*0.6);
		height: calc(94px*0.6);
		cursor: pointer;
	}
}
.drag{
	position: absolute;
  background: transparent;
  z-index: 2;
}

.btn_group{
	position: absolute;
	width: 88%;
	left: 6%;
	top: 20%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
@media (min-device-width: 60em){
	.btn_group{
		left: 6%;
		top: 44.5%;
	}
	h2.titlepos{
		left: -18px!important;
	}
}
.btn_group .btn_func{
	cursor: pointer;
}
@media (max-device-width: 30em){
	.btn_group{
		top: 47%;
		left: 0;
	}
	.btn_group .btn_func{
		cursor: pointer;
		width: 40%;
	}
}
.btn_action{
	background: url("../images/icetools/ice-icon.png") no-repeat left / 100% border-box;
	height: 30px;
	width: 150px;
	margin-left: 30%;
	position: absolute;
	top: -25px;
}
.btn_action > .action{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}

.hidden{
	display: none;
}

/* Preview Page*/
#formwrap{
	line-height: 2em;
	font-family: "微軟正黑體", "標楷體", sans-serif;
}
#formwrap .formpaper{
	position: relative;
	padding: 10px 0;
	margin-top: 19px;
	margin-left: 70px;
	width: 450px;
}
#formwrap .form-control {
	font-family:"微軟正黑體";
	display: block; 
	width: 100%; 
	padding: 6px 12px; 
	font-size:16px; 
	line-height: 1.42857143; 
	color: #333; 
	border: 2px solid #fff; 
	border-radius: 4px;
}
#formwrap p{
	padding: 1em;
}
input[type=checkbox]{
	-ms-transform: scale(1.8); 
	-moz-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	-o-transform: scale(1.8);padding: 5px;
}
.send{ 
	width:216px; 
	margin:-35px auto; 
	display:block;
}
.send a:hover{
	filter:alpha(opacity=90); 
	opacity:0.9;
}