*{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#wrap{
	width: 960px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	justify-content: flex-end;
}
/* items menu */
.hiddentext{
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
  overflow: hidden;
}
.desserts{
	background: url("images/iceBg/ice-item.png");
	background-position:-14px top;
	height:102px; 
	width:52px;
}
.foods{
	background: url("images/iceBg/ice-item.png");
	background-position:-74px top; 
	height:102px; 
	width:52px;
}
.fruits{
	background: url("images/iceBg/ice-item.png");
	background-position:-134px top; 
	height:102px; 
	width:52px;
}
.decoration{
	background: url("images/iceBg/ice-item.png");
	background-position:-194px top; 
	height:102px; 
	width:52px;
}
.symbol{
	background: url("images/iceBg/ice-item.png");
	background-position:-254px top; 
	height:102px; 
	width:52px;
}
.desserts:hover{
	background: url("images/iceBg/ice-item.png");
	background-position:-14px -102px;
	height:102px; 
	width:52px;
}
.foods:hover{
	background: url("images/iceBg/ice-item.png");
	background-position:-74px -102px; 
	height:102px; 
	width:52px;
}
.fruits:hover{
	background: url("images/iceBg/ice-item.png");
	background-position:-134px -102px; 
	height:102px; 
	width:52px;
}
.decoration:hover{
	background: url("images/iceBg/ice-item.png");
	background-position:-194px -102px; 
	height:102px; 
	width:52px;
}
.symbol:hover{
	background: url("images/iceBg/ice-item.png");
	background-position:-254px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .desserts{
	background: url("images/iceBg/ice-item.png");
	background-position:-14px -102px;
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .foods{
	background: url("images/iceBg/ice-item.png");
	background-position:-74px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .fruits{
	background: url("images/iceBg/ice-item.png");
	background-position:-134px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .decoration{
	background: url("images/iceBg/ice-item.png");
	background-position:-194px -102px; 
	height:102px; 
	width:52px;
}
#ingredients .tabs:target .symbol{
	background: url("images/iceBg/ice-item.png");
	background-position:-254px -102px; 
	height:102px; 
	width:52px;
}
/* #ingredients .tabs,  */
#ingredients .tabs{
	position: absolute;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

#ingredients .tabs > h3{
	position: absolute;
	left: -15px;
	padding: 0;
	margin: auto;
	background-color: transparent;
	z-index: 2;
}

#ingredients .tabs:target{
	z-index: 2;
}
#ingredients .tabs:first-child{
	z-index: 1;
}
#ingredients .tabs:nth-child(2) h3{
	left: 54px;
}
#ingredients .tabs:nth-child(3) h3{
	left: 120px;
}
#ingredients .tabs:nth-child(4) h3{
	left: 185px;
}
#ingredients .tabs:nth-child(5) h3{
	left: 245px;
}
/*Menu item*/

#mycv{
	flex: 2 0;
	order: 1;
}
#ingredients{
	flex: 1 0;
	flex-flow: column wrap;
	order: 2;
	background: url("images/iceBg/ice-tab.png") no-repeat;
	position: relative;
	padding: 0 19px;
}
#ingredients .tabs .imgpackage{
	position: absolute;
	width: calc(94px * 3);
	top: 103px;
	margin: 0;
	padding: 0;
}
/*items List & BG*/
.desertlist{
	background: url('images/ingredientsItem/itemList.png') no-repeat -18px 0, url('images/iceBg/menubg.png') repeat-y left;
	height:calc(114px*4); 
}
.foodslist{
	background: url('images/ingredientsItem/itemList.png') no-repeat -18px -380px, url('images/iceBg/menubg.png') repeat-y left;
	height:calc(114px*4); 
}
.fruitslist{
	background: url('images/ingredientsItem/itemList.png') no-repeat -18px 11px, url('images/iceBg/menubg.png') repeat-y left;
	height:calc(114px*4); 
}
.decorationlist{
	background: url('images/ingredientsItem/itemList.png') no-repeat -18px -380px, url('images/iceBg/menubg.png') repeat-y left;
	height:calc(114px*4);
}
.symbollist{
	background: url('images/ingredientsItem/itemList.png') no-repeat -18px -380px, url('images/iceBg/menubg.png') repeat-y left;
	height:calc(114px*4);
}
.rectangle{
	display: block;
	float: left;
	width: 94px;
	height: 114px;
	padding: 0;
	cursor: pointer;
	background: hsla(0, 0%, 100%, 0.4);
}
.drag{
	position: absolute;
  background: transparent;
  z-index: 2;
}

.btn_group{
	position: absolute;
	bottom: 0;
	width: 88%;
	left: 6%;
	bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.btn_action{
	background: url('images/iceBg/ice-icon.png') no-repeat left / 100% border-box;
	height: 30px;
	width: 150px;
	margin-left: 30%;
	position: absolute;
	top: -25px;
}
.btn_action > .action{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}


.hidden{
	display: none;
}
