/* Detail page */
:root {
    background-image:url('../images/bg.png');
    font: 1em 微軟正黑體, 標楷體, sans-serif;
}

body, html{
    background: transparent;
	/* background-image:url(../images/bg.png); */
}
.txt-style {
    resize: none;
}

section[class^="qust-"]:not(:empty){
	border-bottom: 1px solid #C3C0C0;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.main{
	position:relative;
}

/* quiz item page */
.sidebar{
    position: absolute;
    top: 450px;
    cursor: pointer;
    transition: opacity 1s;
    pointer-events: none;
    border: 5px double hsl(0, 0%, 80%);
    padding: 5px;
    width: 80px;
    opacity: 0;
    right: 2%;
}

.showout{
	opacity: 1!important;
    pointer-events: auto!important;
    z-index: 5;
    margin: 35px 25px 0;
}

.quizwrap{
	width:100%;
	padding:0px;
}

.formpaper{
	min-height: 250px;
	background: white;
	margin-top: 30px;
	margin-bottom:50px;
    padding: 15px;
	box-shadow:0 2px 6px rgba(0,0,0,0.15);
	border-radius:15px;
}
.formpaper.in{
	padding-left:35px;
	padding-right:35px;
}
h1{
	font-size:26px!important;
	color:#3A3737;
	font-family:微軟正黑體, 標楷體, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}
h1::before{
  content: '';
  display: inline-block;
  width: 10px;
  height: 26px;
  margin-right: 5px;
  padding-left: 4px;
  border-left: 7px solid #625b51;
  vertical-align: -3px;
}
h3{
	font-family:微軟正黑體, 標楷體, sans-serif;
	font-size:22px!important;
}
form .describe{
    padding: 15px;
    margin: 0px;
    font-size: 1.2em;
    min-height: 40px;
	border-radius:5px;
	background:#f7f7f7;
	margin-bottom:20px;
	margin-top:10px;
}

form .form-group .control-label{
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    color: hsl(0, 20%, 40%);
	letter-spacing: 1px;
	margin: 15px 9px 10px;
}
form .form-group .control-label::before{
	content: '';
  display: inline-block;
  width: 10px;
  height: 19px;
  margin-right: 5px;
  padding-left: 4px;
  border-left: 5px solid #fba011;
  vertical-align: -3px;
}

form textarea.autosize{
    resize: none;
    overflow: hidden;
}

form .btn:hover{
    color: #000000;
}

form .btn:hover .txt-hover{
    color: hsl(0, 0%, 90%);
}

.btn-info{
	margin-bottom:10px;
}

.btn-info:hover{
    border-color: hsl(0, 0%, 90%);
}

.m-g-t15{
    margin-top: 17px;
}

.p-t-10{
    padding-top: 10px;
}

.m-b-10{
    margin-bottom: 10px;
}

form .hr{
    border-top: 1px dashed hsla(0, 0%, 75%, 1);
}

form .input-group{
    padding: 5px;
    padding-top: 15px;
}

form .input-group-addon {
    background: transparent;
    border: 0;
    padding: 10px 1em;
}

form .input-group-addon:empty {
    background: transparent;
    border: 0;
    padding: 10px 1em;
    width: 41px;
}

form label.space{
    margin: 0 15px 15px 0;
}

form .form-group.select-group{
    padding: 15px;
}

.red{
    box-shadow: 0 0 4px 0 red;
}

/* preview page */
#viewer label{
    display: block;
	margin-top:25px;
    margin-bottom: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #7a5151;
    white-space: normal;
    text-align: left;
    font-size: 1.5em;
}
.inline-group{
	font-size: 0.8em;
	margin-left:15px;
}
#viewer .input input, #viewer .textarea  textarea{
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 96%;
    height: 39px;
    padding: 6px 10px;
	margin-left:15px;
	margin-right:25px;
    outline: none;
    border-width: 1px;
    border-radius: 5px;
    background: #fff;
    font: 0.8em/18px "微軟正黑體","標楷體",sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#viewer .textarea  textarea{
    height: auto;
    resize: none;
}

#viewer .desc{
	font-size: 100%;
	font-weight:700;
    display: block;
    margin-top: 5px;
    color: #333;
    clear: both;
	margin-bottom:20px;
	padding-bottom:15px;
	padding-left:15px;
	border-bottom: 1px solid #C3C0C0;
}

#viewer .quiz-title{
    /* border: 1px solid black; */
    font-size: 1.2em;
    background: hsla(186, 100%, 50%, 0.1);
}

#viewer .inline-group .radio, #viewer .inline-group .checkbox{
   margin: 0 35px 20px 30px; 
}

#viewer .ikfloat{
    float: left;
}

.list_handle{
	background: white;
	margin-top: 20px;
	margin-bottom:10px;
    padding: 15px;
	box-shadow:0 1px 6px rgba(0,0,0,0.25);
	border-radius:8px;
	font-size:1.2em;
}
.list_handle:hover{
	background: #f3f2f5;
	color:#F39103;
}