@charset "utf-8";
/* CSS Document */
body {
    padding: 0;
    margin: 0;
    font-family: "微軟正黑體";
    position: relative;
}
body:before{
    content: '';
    background: url(images/bg_img01.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;

}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
body svg{
    /*overflow: auto!important;*/
}
header {
    text-align: center;
    background: #fff;
    font-size: xx-large;
    padding: 3px 0px
}
header .container {
    text-align: center
}
header .container span {
    padding: 0 15px
}
.container-fluid {
    padding: 20px 0
}
ul, li {
    padding: 0;
    margin: 0;
}
ul li {
    width: 33%;
    float: left;
    overflow: hidden;
}
ul > li > ol > li {
    display: block;
}
/* for IE render 100% height */
.city{
    position: relative;
    padding-bottom: 45%;
}
/* for IE render 100% height */
.scaling-svg {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-20%);
}

.tile{
    display: none;
    position: fixed;
    right: 5px;
}
.tile:first-child{
    display: block;
    color: white;
    font-weight: 900;
    font-size: 2em;
    width: 28%;
    margin-top: 10%;
}
.hightlight {
    box-shadow: 0 0 20px 5px white;
    border-radius: 0px;/*
	border: 1px solid #cc0000;*/
    box-sizing: content-box;
    overflow: hidden
}
ul > li, .hall_list > li {
    list-style: none;
}
.hall_list > li {
    list-style: none;
    padding: 4px 8px
}
.hall {
    font-size: 15px;
}
.hall_list {
    counter-reset: hall;
    padding: 0 0 5px 0;
    margin: 15px 0;
    background: #fff;
    border-radius: 15px;
}
.hall_list > li:first-child {
    /*border: 1px solid black;*/
    border-radius: 15px 15px 0px 0px;
    text-align: center;/*font-size: 2em;*/
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    padding: 6px;
    margin-bottom:5px
}
.hall_list > li:not(:first-child):before {
    counter-increment: hall;
    content: counter(hall, decimal) "";
    border: 1px solid black;
    border-radius: 50%;
    color: #000;
    margin-right: 5px;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    left: 5px;
    top: 6px;
    width: 22px;
    line-height: 19px;
    text-align: center;
    padding-top: 1px;
}
.hall_list > li:not(:first-child) {
    /*margin: 5px;*/
    margin-left: 0;
    padding-left: 30px;
    position: relative;
}
.hall > div:nth-child(1) .hall_list > li:first-child {
    background:#d4ead7;
}
.hall > div:nth-child(2) .hall_list > li:first-child {
    background:#F9CBB4;
}
.hall > div:nth-child(3) .hall_list > li:first-child {
    background:#f8cbb4;
}
.hall > div:nth-child(4) .hall_list > li:first-child {
    background:#f4f086;
}
.hall > div:nth-child(5) .hall_list > li:first-child {
    background:#DED4CC;
}
.hall > div:nth-child(6) .hall_list > li:first-child {
    background:#e6dbce;
}
.hall > div:nth-child(7) .hall_list > li:first-child {
    background:#E6C9D2;
}
.hall > div:nth-child(8) .hall_list > li:first-child {
    background:#ddd4cb;
}
.hall > div:nth-child(9) .hall_list > li:first-child {
    background:#F6C2CF;
}
.hall > div:nth-child(10) .hall_list > li:first-child {
    background:#bdbadc;
}
.hall > div:nth-child(11) .hall_list > li:first-child {
    background:#c6dd80;
}
.hall > div:nth-child(12) .hall_list > li:first-child {
    background:#EDEE91;
}

path:hover,  circle:hover {
    fill:#eee;
    stroke: hsla(210, 75%, 40%, 0.6);
    stroke-width: 2px;
    stroke-linejoin: round;
    cursor: pointer;
}
footer {
    background: -webkit-linear-gradient(left, #eec0c6, #8393bf);
    background: -o-linear-gradient(right, #eec0c6, #8393bf);
    background: -moz-linear-gradient(right, #eec0c6, #8393bf);
    background: linear-gradient(to right, #eec0c6, #8393bf);
    border-color: #fff;
    display: block;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px
}
.copyright {
    text-align: left;
    padding-top: 14px
}
footer .logo {
    font-size: 0px
}
.back-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #343434;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-top span {
    height: 40px;
    width: 40px;
    background: url(./images/top-arrow.svg) no-repeat center center
}
.back-top.back-is-visible, .back-top.back-fade-out, .no-touch .back-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-top.back-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.back-top.back-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .back-top:hover {
    background-color: #343434;
    opacity: 1;
}
.back-top span {
    display: block;
    width: 80%;
    height: 80%;
    margin: 5px auto;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .back-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .back-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

@media screen and (max-width:990px) {
    .hall {
        font-size: 18px;
    }
    .tile{
        display: block;
        position: static;
    }
    .tile:first-child{
        display: none;
    }
    .scaling-svg {
        transform: translateX(-50%);
    }
    .city{
        padding-bottom: 100%;
    }
}
@media screen and (max-width:640px) {
    header {
        font-size: x-large;
        letter-spacing: 0.2em
    }
    header span:last-child {
        margin-right: -0.2em;
    }
    header span {
        display: block;
    }
    .copyright span {
        display: block
    }
}

@media screen and (max-width:320px) {
    header {
        font-size: medium;
        letter-spacing: 0.38em
    }
    header span:last-child {
        margin-right: -0.5em;
    }
    header img {
        width: 100%;
    }
}
